<% 10.times do |i|%>
<div class="panel panel-default" style="margin-top:50px">
      <div class="panel-heading"><h3>Post <%=i+1 %></h3></div>
      <div class="panel-body"><%= BetterLorem.p(1, true, true ) %></div>
    </div>
<% end%>