<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pagina personal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="../">Personal blog</a>
      </div>
      <ul class="nav navbar-nav">
        <li>
          <a href="our">About us</a>
        </li>
        <li>
          <a href="proy">Proyects</a>
        </li>
        <li>
          <a href="call">Contact</a>
        </li>
      </ul>
      <%if request.cookies["email"] && request.cookies["password"]%>
      <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><%=request.cookies["email"]%></a></li>
      <li><a href="/del"><span class="glyphicon glyphicon-log-in"></span>Sign out</a></li>
    </ul>
    <%end%>
    </div>
  </nav>


<div class="container"style="margin-top:50px">
<div class="panel-group"style="margin-top:50px">

  <% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>



    <%= yield %>
  </div>  
</div>

</body>


</html>