
<form action="/hello" method="post">
<div class="form-group">
  <label for="name"><input type="text" id="name" name="name">
  <button type="submit">Enviar</button>
  </div>
</form>

<h1><%=@hola%></h1>